body{
    background-color: #f6f6f6;
}

.container{

    background-color: #ffffff;
    width: 80%;
    margin: 50px auto;
    padding: 50px;
    border-radius: 10px;
    justify-content: space-between;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);;
}

hr{
    border: none;
    height: 1px;
    background-color: #333;
}

.short-line{
    width: 80px;
    height: 4px;
    background-color: #333;
    border: none;
    margin: 10px 0 20px;
}

h4{
    margin-top: 0;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px; 
    flex-wrap: nowrap;
}
.generals{
    margin: 0;
}

.button-group {
    display: flex;
    gap: 10px;
}

.buttonCan {
    color: #333;
    background-color: #FFD900;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2)  ;
    transition: background-color 0.3s ease;
}

.buttonCan:hover {
    background-color: #e6c200;
    color: black;
}


 .buttonSave {
    color: rgb(7, 7, 1);
    background-color: #FFD900;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2)  ;
    transition: background-color 0.3s ease;
}

.buttonSave:hover {
    background-color: #e6c200;
    color: black;
}

.form{
    display: block;
}

.form-content {
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

.left-form, .right-form{
    flex: 1;
}

input, select {
      width: 100%;
      padding: 10px;
      margin: 10px 0 20px;
      background-color: #f6f6f6;
      border: 1px solid #ccc;
      border-radius: 5px;
}

#picTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
    background-color: #fff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

#picTable thead {
    background-color: #FFD900;
}

#picTable thead th {
    padding: 15px;
    text-align: left;
    font-weight: bold;
    color: #333;
}

#picTable tbody tr {
    border-bottom: 1px solid #ddd;
}


#picTable tbody td {
    padding: 15px;
    color: #333;
}

#picTable button {
    padding: 6px 12px;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

#picTable button[name="edit_btn"] {
    background-color: #4CAF50;
    color: white;
}

#picTable button[name="delete_btn"] {
    background-color: #f44336;
    color: white;
}




